*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: sticky;
  left: 0;
}
body{
  align-items: center;
}
header{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgba(41, 2, 41, 0.237);
}
.checkbut{
  font-size: 3rem;
  float: right;
  top: 20px;
  display: none;
  cursor: pointer;

}
.page img{
  position: relative;
  width: 100%;
  height: 500px;
}
img{
  width: 180px;
  height: 70px;
  position: relative;
  top: 20px;
}
#check{
  display: none;
}
nav{
  position: relative;
  padding: 10px;
  bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

nav a{
  position: relative;
  padding: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  left: 450px;
  margin-left: 15px;

}
nav a::after{
  content: '';
  position:absolute;
  width: 100%;
  height: 3px;
  background-color: orangered;
  left: 0;
  bottom: -4px;
  transform: scale(0);
  }
  nav a:hover::after{
      transform: scale(1);
  }
  nav a:hover{
      color:tomato;
  }
  .wel h1{
    text-align: center;
    position: relative;
    top: 100px;
    color: orange;
  }
  .wel i{
    font-size: 3rem;
    color:tomato;
    position: relative;
    left: 590px;
    border-radius: 30px;
    top: 110px;
  }
  .wel h2{
    color:orange;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    top: 120px;
  }
  .box{
    width: 350px;
    height: 298px;
    border: 2px solid green;
    position: relative;
    top: 180px;
    left: 50px;
    justify-content: space-between;
  }
  .box i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 150px;
    top: 20px;
  }
  .box h2{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .box p{
    position: relative;
    top: 30px;
    padding: 7px;
  }
  .box button{
    width: 100px;
    height: 30px;
    position: relative;
    top: 40px;
    background: transparent;
    align-items: center;
    left: 110px;
    color:tomato;
    font-size: 1rem;

  }
  .com{
    width: 350px;
    height: 299px;
    border: 2px solid green;
    position: relative;
    bottom: 117px;
    left: 450px;
    justify-content: space-between;
  }
  .com i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 150px;
    top: 20px;
  }
  .com h1{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .com p{
    position: relative;
    top: 30px;
    padding: 3px;
  }
  .com button{
    width: 100px;
    height: 30px;
    position: relative;
    top: 40px;
    background: transparent;
    align-items: center;
    left: 120px;
    color:tomato;
    font-size: 1rem;

  }
  .vir{
    width: 350px;
    height: 298px;
    border: 2px solid green;
    position: relative;
    left: 850px;
    bottom: 413px;
    justify-content: space-between;
  }
  .vir i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 150px;
    top: 20px;
  }
  .vir h2{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .vir p{
    position: relative;
    top: 30px;
    padding: 10px;
  }
  .vir button{
    width: 100px;
    height: 30px;
    position: relative;
    background: transparent;
    align-items: center;
    left: 110px;
    color:tomato;
    font-size: 1rem;
    top: 30px;

  }
  .anul{
    width: 350px;
    height: 298px;
    border: 2px solid green;
    position: relative;
    bottom: 380px;
    left: 50px;
    justify-content: space-between;
  }
  .anul i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 150px;
    top: 20px;
  }
  .anul h2{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .anul p{
    position: relative;
    top: 30px;
    padding: 7px;
  }
  .anul button{
    width: 100px;
    height: 30px;
    position: relative;
    top: 40px;
    background: transparent;
    align-items: center;
    left: 110px;
    color:tomato;
    font-size: 1rem;

  }
  .pay{
    width: 350px;
    height: 298px;
    border: 2px solid green;
    position: relative;
    bottom: 678px;
    left: 450px;
    justify-content: space-between;
  }
  .pay i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 150px;
    top: 20px;
  }
  .pay h2{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .pay p{
    position: relative;
    top: 30px;
    padding: 7px;
  }
  .pay button{
    width: 100px;
    height: 30px;
    position: relative;
    top: 40px;
    background: transparent;
    align-items: center;
    left: 110px;
    color:tomato;
    font-size: 1rem;

  }
  .book{
    width: 350px;
    height: 298px;
    border: 2px solid green;
    position: relative;
    bottom: 976px;
    left: 850px;
    justify-content: space-between;
  }
  .book i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 150px;
    top: 20px;
  }
  .book h2{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .book p{
    position: relative;
    top: 30px;
    padding: 7px;
  }
  .book button{
    width: 100px;
    height: 30px;
    position: relative;
    top: 40px;
    background: transparent;
    align-items: center;
    left: 110px;
    color:tomato;
    font-size: 1rem;

  }
  .all button{
    width: 180px;
    height: 60px;
    position: relative;
    bottom: 900px;
    left: 500px;
    border: 2px solid aqua;
    background-color: aqua;
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 20px;
  }
  .footer{
    width: 100%;
    height: 500px;
    background-color:rgba(0, 93, 180, 0.5);
    position: relative;
    top: 500px;
    align-items: center;
  }
  .footer p{
    font-size: 1.3rem;
    position: relative;
    top: 60px;
    left: 100px;
  }
  .footer i{
    font-size: 3rem;
    color: tomato;
    position: relative;
    top: 100px;
    left: 100px;
  }
  .footer h2{
 position: relative;
 left: 600px;
 color: tomato;
 bottom: 70px;
  }
  .footer ul{
    position: relative;
    left: 600px;
    bottom: 70px;
  }
  .footer h3{
    position: relative;
    left: 900px;
    bottom: 200px;
    color: tomato;
  }
  .footer ol{
    position: relative;
    left: 900px;
    bottom: 200px;
  }
  .fot h2{
 position: relative;
 left: 950px;
 color: tomato;
 top: 100px;
  }
  .fot ul{
    position: relative;
    left: 600px;
    top: 250px;
    color: tomato;
  }
  .fot h1{
    position: relative;
    left: 550px;
    top: 230px;
    color: tomato;
  }
  .fot ol{
    position: relative;
    left: 1000px;
    top: 140px;
    text-decoration: none;
  }
  .fot a{
    text-decoration: none;
    color: tomato;
  }
  .fot i{
    font-size: 2rem;
    color: tomato;
    border: 2px solid tomato;
    border-radius: 50px;
    background-color:rgba(8, 183, 198, 0.621);
    position: relative;
    align-items: center;
    top: 160px;
    left: 600px;
  }
  .fot p{
    font-size: 1.3rem;
    text-align: center;
    position: relative;
    top: 180px;
    
  }

@media only screen and (max-width: 890px) {
  .checkbut{
    font-size: 3rem;
    float: right;
    top: 20px;
    display: block;
  
  }
  #check{
    display: none;
  }
  nav{
    position: relative;
    left: -120%;
    display: block;
    transition: all 0.5s;
    text-align: center;
  }
  nav a{
    padding: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 15px;
    left: 0;
    display: block;
    top: 90px;
    position: relative;
    transition: all 0.5s;
  }
  #check:checked~nav{
    left: 0px;
  }
  nav a::after{
    content: '';
    position:relative;
  }
  .page img{
    position: relative;
    width: 100%;
    height: 350px;
  }
  .wel i{
    font-size: 3rem;
    color: tomato;
    position: relative;
    left: 270px;
    border-radius: 30px;
    top: 110px;
  }
  .box{
    width: 300px;
    height: 320px;
    border: 2px solid green;
    position: relative;
    top: 180px;
    left:4px;
    justify-content: space-between;
  }
  .box i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 130px;
    top: 20px;
  }
  .box h1{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .box p{
    position: relative;
    top: 30px;
    padding: 7px;
  }
  .box button{
    width: 100px;
    height: 30px;
    position: relative;
    top: 40px;
    background: transparent;
    align-items: center;
    left: 90px;
    color:tomato;
    font-size: 1rem;

  }
  .com{
    width: 300px;
    height: 320px;
    border: 2px solid green;
    position: relative;
    bottom: 139px;
    left: 313px;
    justify-content: space-between;
  }
  .com i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 150px;
    top: 20px;
  }
  .com h1{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .com p{
    position: relative;
    top: 30px;
    padding: 9px;
  }
  .com button{
    width: 100px;
    height: 30px;
    position: relative;
    top: 25px;
    background: transparent;
    align-items: center;
    left: 120px;
    color:tomato;
    font-size: 1rem;

  }
  .vir{
    width: 300px;
    height: 320px;
    border: 2px solid green;
    position: relative;
    left: 4px;
    bottom: 100px;
    justify-content: space-between;
  }
  .vir i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 130px;
    top: 20px;
  }
  .vir h2{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .vir p{
    position: relative;
    top: 30px;
    padding: 14px;
  }
  .vir button{
    width: 100px;
    height: 30px;
    position: relative;
    background: transparent;
    align-items: center;
    left: 90px;
    color:tomato;
    font-size: 1rem;
    top: 30px;

  }
  .anul{
    width: 300px;
    height: 320px;
    border: 2px solid green;
    position: relative;
    bottom: 420px;
    left: 313px;
    justify-content: space-between;
  }
  .anul p{
    position: relative;
    top: 30px;
    padding: 9px;
  }
  .pay{
    width: 300px;
    height: 320px;
    border: 2px solid green;
    position: relative;
    bottom: 400px;
    left: 4px;
    justify-content: space-between;
  }
  .pay i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 120px;
    top: 20px;
  }
  .pay h2{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .pay p{
    position: relative;
    top: 30px;
    padding: 9px;
  }
  .pay button{
    width: 100px;
    height: 30px;
    position: relative;
    top: 40px;
    background: transparent;
    align-items: center;
    left: 90px;
    color:tomato;
    font-size: 1rem;

  }
  .book{
    width: 300px;
    height: 320px;
    border: 2px solid green;
    position: relative;
    bottom: 720px;
    left: 314px;
    justify-content: space-between;
  }
  .book i{
    font-size: 2.4rem;
    color: rgb(13, 13, 188);
    position: relative;
    left: 120px;
    top: 20px;
  }
  .book h2{
    position: relative;
    text-align: center;
    top: 20px;
  }
  .book p{
    position: relative;
    top: 30px;
    padding: 9px;
  }
  .book button{
    width: 100px;
    height: 30px;
    position: relative;
    top: 40px;
    background: transparent;
    align-items: center;
    left: 90px;
    color:tomato;
    font-size: 1rem;

  }
  .all button{
    width: 180px;
    height: 60px;
    position: relative;
    bottom: 680px;
    left: 230px;
    border: 2px solid aqua;
    background-color: aqua;
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 20px;
  }
  .footer{
    width: 100%;
    height: 1000px;
    background-color:rgba(0, 93, 180, 0.5);
    position: relative;
    bottom: 600px;
  }
  .footer p{
    font-size: 1.3rem;
    position: relative;
    left: 20px;
  }
  .footer i{
    font-size: 3rem;
    color: tomato;
    position: relative;
    left: 20px;
  }
  .footer h2{
 position: relative;
 left: 20px;
 color: tomato;
 top: 200px;
  }
  .footer ul{
    position: relative;
    left: 100px;
    top: 230px;
  }
  .footer h3{
    position: relative;
    left: 300px;
     top:65px;
     font-size: 1.3rem;
    color: tomato;
  }
  .footer ol{
    position: relative;
    left: 300px;
    top: 100px;
    left: 400px;
  }
  .fot h2{
    position: relative;
    left: 400px;
    color: tomato;
    bottom: 1120px;
     }
     .fot ul{
       position: relative;
       left: 100px;
       bottom: 970px;
     }
     .fot h1{
       position: relative;
       left: 20px;
       bottom: 1000px;
       color: tomato;
     }
     .fot ol{
       position: relative;
       left: 450px;
       bottom: 1100px;
       text-decoration: none;
     }
     .fot a{
       text-decoration: none;
       color: #fff;
     }
     .fot i{
      font-size: 5rem;
      color: tomato;
      border: 2px solid tomato;
      border-radius: 50px;
      background-color:rgba(8, 183, 198, 0.621);
      position: relative;
      align-items: center;
      bottom: 1000px;
      left: 250px;
    }
    .fot p{
      font-size: 1.3rem;
      text-align: center;
      position: relative;
      bottom: 980px;
      font-weight: bold;
    }
   
}
